<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.my_future">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo_dark"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo_dark"
        android:supportsRtl="true"
        android:theme="@style/Theme.My_Future">
        <activity android:name=".FillingDataActivismActivity"></activity>
        <activity android:name=".FillingDataVolumesActivity" />
        <activity android:name=".CalculetedActivity.CalculatedKetchActivity" />
        <activity android:name=".CalculetedActivity.CalculetedMifflinActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".StartScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AuthorizationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FillingDataUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FillingDataHealthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Intro.IntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Additionally.FragmentActivityActivism"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Additionally.FragmentActivityPressure"
            android:screenOrientation="portrait" />
    </application>

</manifest>